// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #e24433;
$bg-grey:               #ececec;
$color:                 #fff;
$bg-dark:               #464646;
$bg-white:               #fff;
$text-black:               #030303;
$text-grey-1:               #888888;


// Fonts
$font-small:     'Roboto', sans-serif;
$font-small-weight: 300;
$font-small-size: 1.4em;
